:root {
  --search-width: 20%;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding-left: 2rem;
  background: none;
  position: fixed;
  top: 0;
  z-index: 4;
  transition: top 0.5s;
  -webkit-transition: top 0.5s;
  width: 100%;
}
.header:hover {
  background: rgba(73, 73, 73, 0.9);
}

.header p {
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 500;
  padding: 5px;
}

.header p:hover {
  background-color: #b81d24;
  border-radius: 5px;
}

.header input {
  border: 1.8px solid rgb(255, 255, 255, 0.7);
  border-radius: 16px;
  padding: 7px;
  padding-left: 10px;
  color: #fff;
  background: rgba(73, 73, 73, 0.5);
  width: var(--search-width);
  transition: width 0.5s;
  -webkit-transition: width 0.5s;
}
.header input:focus {
  border: 1.8px solid #b81d24;
  /* width: var(--search-width) + 2rem; */
  width: 28%;
  outline: none;
}
